
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="label label-danger">Panel Administracyjny</span></h2>

<input id="Button1" type="button" value="Dodaj Nowa Ankiete" />
<input id="Button1" type="button" value="Statystyki" />
<input id="Button1" type="button" value="Aktualnie trwające" />
<input id="Button1" type="button" value="Edytuj instniejące" />
